@using NicoPasino.Models
@{
    var generos = ViewBag.generos;
    var mensaje = TempData["Msg"] as string; // para el PopUp
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow">
    <title>@ViewData["Title"] - NicoPasino</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NicoPasino.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- NavBar -->
        <nav id="navBar">
            <div class="row col-3 inicio-crear">
                <a class="col-3" asp-controller="Movies" asp-action="Index">Inicio</a>
                <a class="col-3" asp-controller="Movies" asp-action="Crear">Crear</a>
            </div>

            <!-- menú géneros -->
            <div class="col-6 dropdown">
                <h1>Películas<font id="genero"></font></h1>
                <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Géneros </a>
                <ul class="dropdown-menu" id="genresMenu">
                    <li><a class="dropdown-item" asp-controller="Movies" asp-action="Index">TODOS</a></li>
                    @if(generos != null){
                        @foreach(var i in generos)
                        {
                            <li><a class="dropdown-item" asp-controller="Movies" asp-action="Buscar" asp-route-idGenero="@i.Id">@i.Name</a></li>
                        }
                    }
                </ul>
            </div>

            <div class="col-3">
                @using (Html.BeginForm("Buscar", "Movies", FormMethod.Get)) {
                    <input type="text" name="titulo" placeholder="Buscar película..." class="form-control" />
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-search"></i> Buscar
                    </button>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (mensaje != null) {
                @await Html.PartialAsync("_Mensaje", new MensajeViewModel
                {
                    Mensaje = mensaje,
                    Tipo = TempData["Tipo"] as string ?? "info"
                })
            }
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
