@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    string controlador = Model.Controlador ?? "Home";
    string mensaje = Model.Mensaje ?? "Ocurrió un error al procesar tu solicitud.";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">@mensaje</h2>

<p>
    Lamentamos los inconvenientes. Un error interno ha sido reportado y nuestro equipo ya está notificado.
    Por favor, intenta nuevamente más tarde.
</p>

<br />
<a asp-controller="@controlador" asp-action="Index" class="btn btn-primary mt-3">Volver a la página de inicio</a>
<br />

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
    
    <div class="alert alert-warning mt-4">
        <strong>Nota:</strong> Esta información solo debe ser compartida con el equipo de soporte
        si es necesario para la depuración.
    </div>
}

<h3>Detalles del error (Solo para Desarrollo)</h3>
<p>
    El entorno de **Desarrollo** no debe habilitarse para las aplicaciones desplegadas. 
    Normalmente, la información detallada de la excepción se muestra en este bloque para diagnosticar el problema en entornos locales.
</p>